header{
    font-size: 110%;
    font-family: 'Times New Roman', Times, serif;
    margin: 0px;
    text-align: center;
    background-color: rgb(190, 177, 37);
    border-radius: 20px;
    }
   
    body{
        background-color: rgb(181, 210, 21);
        text-align: center;
    }
     p{
        font-size: 145%;
        text-align: center;
        background-color: rgb(190, 177, 37);
     }
     h5{
        text-align: center;
        font-family: 'Times New Roman', Times, serif;
        font-size: 145%;
     }
    h2{
        font-family: 'Times New Roman', Times, serif;
        font-size: 155%;
        text-align: center;
    }
    dl{
        font-size: 130%;
        text-align: center;
    }
    footer{
        border-radius: 20px;
    }
    